sphinxcontrib.bibtex
pybtex
pytest
nbsphinx
Sphinx==7.0.1
sphinx_rtd_theme
numpydoc
docutils==0.19
sphinx-copybutton
IPython
nbsphinx-link
git+https://github.com/zincware/ZincHub.git
coverage
coveralls
mdanalysis
znvis
ase
astroid
