sphinxcontrib.bibtex
pybtex
pytest
nbsphinx
Sphinx==4.3.0
sphinx_rtd_theme
numpydoc
sphinx-copybutton
IPython
pandoc
nbsphinx-link
git+git://github.com/zincware/ZincHub.git#egg=zinchub
isort
coverage
coveralls
mdanalysis
