tensorflow>=2.5
h5py
pysmiles
matplotlib
scipy
tqdm
psutil>=5.6.6
numpy
gputil
pubchempy
PyYAML>=5.4
scooby
sqlalchemy >= 1.4
pandas >= 1.0.0
tensorflow_probability
colorutils
bokeh >= 3.0.0
chemfiles
dot4dict
jaxlib
jax
znh5md >= 0.1.7
