tensorflow
h5py
pysmiles
matplotlib
scipy
tqdm
psutil>=5.6.6
numpy
gputil
pubchempy
PyYAML>=5.4
sphinxcontrib.bibtex
pybtex
nbsphinx
sphinx_rtd_theme
numpydoc
sphinx-copybutton
colorutils
scooby
sqlalchemy>=1.4
pandas
IPython
pandoc
